body {
    background-color: #c0c0c0;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    
}

nav {
    background-color: #4e5b64;
    padding: 15px;
    text-align: center;
}

nav a {
    background-color: #eeb906;
    color: black;
    padding: 8px 12px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
}
h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4e5b64;
}

p, label, input, textarea, select, button, a {
    font-size: 16px
    
}
nav a:hover {
    background-color: #47606f;
    color: white;
}

button {
    background-color: #eeb906;
    color: black;
    padding: 8px 12px;
    border: none;
}

button:hover {
    background-color: #47606f;
    color: white;
    cursor: pointer;
}

a:hover {
    color: #47606f;
}
section, form {
    background-color: white;
    margin: 30px;
    padding: 20px;
}

p {
    line-height: 1.5;
    text-indent: 30px;
}

h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #eeb906;
}

input, textarea, select {
    padding: 6px;
}
section {
    border: 2px solid #4e5b64; 
}

.sections {
    margin: 20px;
    text-align: center;
}

.section-item {
    background-color: white;
    border: 2px solid #4e5b64;
    padding: 15px;
    margin: 15px;
    display: inline-block;
}

.texto {
    display: inline-block;
    width: 80%;
    padding: 20px;
    border: 2px solid #4e5b64;
    margin: 20px auto;
    box-sizing: content-box;
}

.imagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    width: 90%;
    padding: 20px;
    border: 2px solid #4e5b64;
    margin: 20px auto;
    box-sizing: border-box;
}

.testimonios {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

header h1,
.logo {
    margin-right: 20px;
}

.imagenes strong,
.imagenes img {
    margin: 10px;
    
}
footer {
    background-color: #4e5b64;
    padding: 15px;
    text-align: center;
    color: #c0c0c0;
    }
    
   
   
    
    .menuNavegacion {
position: fixed;
display: none;
    }

    
    .menuNavegacion.activo {
display: flex;
flex-direction: row;

    }
.flechaArriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #eeb906;
    color: black;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
}

.flechaArriba:hover {
    background-color: #47606f;
    color: white;
}