section, form {
    background-color: white;
    margin: 30px;
    padding: 20px;
}

p {
    line-height: 1.5;
    text-indent: 30px;
}
h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #eeb906;
}
input, textarea, select {
    padding: 6px;
}
.section-item {
    background-color: white;
    border: 2px solid #4e5b64;
    padding: 15px;
    margin: 15px;
    display: inline-block;
}
table {
    background-color: white;
}

th {
    background-color: #4e5b64;
    color: white;
}

td, th {
    padding: 10px;
}


